@import "../../assets/sass/colors";

#contacts {

  &.visible{
    .contact{
      img,p {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  .contactsContent{
    width: 100%;
    max-width: 800px;

    .contacts{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 100px;

      a{
        width: 50%;
        margin-top: 1rem;
        color: $black;

        img{
          width: 60px;
        }

        p{
          font-size: 0.8rem;
        }
      }
    }
  }
}


@media (min-width: 768px) {

  #contacts {
    .contactsContent{
      .contacts{
        a{
          width: auto;
        }
      }
    }
  }

}
