#skills {

  &.visible{
    //skill component animation
    .Skill{
      .name {
        opacity: 1;
        transform: translateX(0px);
      }
      .progress {
        transform: scaleX(1);
      }
    }

  }

  .content{
    .skillsContent{
      width: 100%;
      display: block;
    }
  }
}


// media queries

@media (min-width: 768px) {
  #skills {
    .content{
      .skillsContent{
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
  }
}
